[submodule "logo"]
	path = logo
	url = git@git.localcooking.com:localcooking/logo.git
[submodule "localcooking-shared"]
	path = localcooking-shared
	url = git@git.localcooking.com:localcooking/localcooking-shared
[submodule "localcooking-fb"]
	path = localcooking-fb
	url = git@git.localcooking.com:localcooking/localcooking-fb
[submodule "localcooking-db"]
	path = localcooking-db
	url = git@git.localcooking.com:localcooking/localcooking-db
[submodule "localcooking-template"]
	path = localcooking-template
	url = git@git.localcooking.com:localcooking/localcooking-template
[submodule "localcooking-function"]
	path = localcooking-function
	url = git@git.localcooking.com:localcooking/localcooking-function.git
[submodule "localcooking-dependencies"]
	path = localcooking-dependencies
	url = git@git.localcooking.com:localcooking/localcooking-dependencies.git
